/*PALETA DE COLORES
#777165 verde musgo
#7B3F23 marron
#B66A46 marron naranjoso
#C98A6C marron rosaceo
#F6E8DC blanco crema
*/
*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: red;
}

video{
    height: 400px;
    width: 200px;
}



footer{
    background-color: green;
}

main{
    background-color: coral;
}

.navbar{
    background-color: blueviolet !important;
}

.containerCarta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 40px;
    width: 40px;
}

.card{
    height: 400px;
    width: 250px;
}

.slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bloqueProductos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}