.detalle{
    font-family: $fuente-textos;
    font-size: $tamanio-texto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    color: #42403b;
}

.boton{
    padding: 5px;
    margin-bottom: 10px;
    font-family: $fuente-titulos;
    font-size: 12px !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #fff !important;
    background-color: #42403b !important;
    border-radius: 45px !important;
    border-color: #42403b !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}