@import 'variables.scss';
@import 'extend.scss';

*{
    margin: 0;
    padding: 0;
    font-family: $fuente-textos;
    font-size: $tamanio-texto;

    body{
        background-color: rgb(248, 248, 233) !important;
        

        h2{
            font-size: $tamanio-subtitulo;
            font-family: $fuente-titulos;
            margin: 40px 0px 0px 30px !important;
            color: $marron; 
        }
    }

}

/*HEADER*/
.header{
    background-color: $marron-naranjoso;
    height: 200px;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .titulo{
        color: $blanco-crema;
        font-size: $tamanio-titulo;
        font-family: $fuente-titulos;
    }

    .logo{
        height: 140px;
        width: 140px;   
    }
}

/*FOOTER*/
.footer{
    background-color: $verde-musgo;
    height: 75px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    
    .parrafoFooter{
        margin: 0 6px 0 0;
    }

    .instagram{
        display: flex;
        justify-content: end;
        align-items: center;
        
        .link{
            height: 40px;
            width: 40px;
            margin-left: 10px;
            border-radius: 0%;
            color: #fff !important;
        
            &:hover{
                transition-duration: 500ms;
                transform: scale(1.1,1.1);
            }
        }
    }
}

/*NAV*/
.navbar-light{
    margin: 0px;
    z-index: 10 !important;
}

.bg-light{
    background-color: $verde-musgo !important; 
    height: 50px;
    position: sticky !important;
    top: 0px;
    margin-top: 0px;   
}

.navbar> .container-fluid{
    background-color: $verde-musgo;
    
    
    .navbar-brand{
        margin-bottom: 5px;
    }

    .navbar-toggler{
        margin: 10px 0px 10px 0px;
    }

    .d-flex{
        margin: 10px 10px 10px 0px;

        .form-control{
            height: 40px;
            font-family: $fuente-textos !important;
            border-radius: 45px !important;
        }

        .me-2{
            box-shadow: none !important;
        }
    }
}

.menu{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.nav-link, .active, .navbar-brand{
    color: $blanco-crema !important; 
    text-decoration: none;
    font-weight: 100;
}

.nav-item{
    font-family: $fuente-titulos;
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient($blanco-crema, $blanco-crema);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 20px .3s;
    margin: 0 8px;

    &:hover{
        transition-duration: 500ms;
        background-size: 100% 2px;
    }

    &:focus{
        background-size: 100% 2px;
    }
}

/*CARDS*/
.card{
    height: 500px !important;
    width: 300px;
    margin: 20px 5px 20px 5px; 
    background-color:white;
    border:1px solid #f1efef;
    border-radius: 10px;

    .card-img-top{
        height: 300px;
        width: 200px !important;
        border-radius: 10px;
        margin: 20px  auto;  
    }

    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .badge{
            z-index: 8 !important;
        }

        @extend .detalle;
    }

}

/*CARRUSEL*/

.carousel{
    background-color: rgb(207, 207, 207);
    height: 500px !important;
    display: flex;
    align-items: center;
    justify-content: center;  

    .slide{
        display: flex;
        justify-content: center;
    
        .cardHorizontal{
            height: 400px !important;
            width: 700px;
            background-color: white;
            display: flex; 
            flex-direction: row; 
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
        
            .fotoCarrusel{
                height: 300px;
                width: 200px !important;
                border-radius: 10px;
            }

            .card-body{
                flex: none !important;
                @extend .detalle;
            }
        
            
        }
    }
}


@media (max-width: 768px){
    header{
        justify-content: center !important;
    }  

    .titulo{
        display: none !important;
    }

    .carousel{   
        height: 600px !important;
        
        .slide{

            .cardHorizontal{
                height: 500px !important;
                width: 300px;
                margin: 20px 5px 20px 5px;
                flex-direction: column;
    
                .fotoCarrusel{
                   margin: 20px  auto;
                }
    
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;  
                }
            }
        }
    }

    .containerCarta, .containerVideo{
        margin-top: 20px !important;

        .cartaUno{      
            width: 100% !important;
            margin-top: 10px !important;
        }
    
        .cartaDos{
            width: 100% !important;
            margin-bottom: 10px;
        } 
    }

    .footer{
        .instagram{
            .parrafoFooter{
                display: none !important;
            }
        }
    }

}


/*BUTTONS*/
.btn-primary{
    @extend .boton;
    
    &:hover{
        background-color: #fff;
        box-shadow: 0px 15px 20px #42403b;
        color: #fff;
        transform: translateY(-3px);
        cursor: pointer;
    }
}



.btn-outline-success{
    @extend .boton;
    padding: 10px !important;
    color: $blanco-crema !important;
    border-color: $blanco-crema !important;
    box-shadow: none !important;

    &:hover{
        background-color: $blanco-crema !important;
        color: #42403b !important; 
        border-color: $blanco-crema !important;
    }
}

.contenedorCarrusel{
    background-color: $blanco-crema;//#ced4da;
}
/*------------------- HOME -------------------*/
.bloqueProductos{
    margin: 40px 0px 60px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.promo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:white;
    padding: 10px;
    border:1px solid #f1efef;
    border-radius: 10px;
    margin: 40px auto 60px;

    .imagenBombilla{
        height: 200px;
        width: 250px;
    }
    
    .bombilla{
        margin: 0px 0px 50px 50px;
    }

}


/*-------------- QUIENES SOMOS --------------*/

.containerCarta, .containerVideo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 50px 60px 50px;
    flex-wrap: wrap;

    .solProductos{
        height: 450px;
        width: 500px;
    }
    
    .cartaUno{
        margin-left: 10px;
        line-height : 40px;
        width: 44%;
    }

    .cartaDos{
        margin-left: 30px;
        line-height : 40px;
        width: 50%;
    } 

    .video{
        border-radius: 10px;
        height: 400px;
        width: 400px;
    }


}

.containerFrase{
    display: flex;
    justify-content: center;

    .frase{
        font-size: 22px;
        font-style: italic;
        font-weight: 450;
        font-family: $fuente-titulos;
        text-align: center;
        padding: 20px 0;
        width: 72%;
        color: $marron;
        border-top: $marron 1px dashed;
        border-bottom: $marron 1px dashed;
    }
}

/*---------------- PRODUCTOS ----------------*/

.productos{
    .nombreSeccion{
        font-family: $fuente-titulos;
        color: $marron;
        margin: 60px 0px 30px 40px !important;
    }
    
    .mates{
        margin: 40px 0px 60px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .aclaracion{
        font-style: italic;
        text-align: center;
        margin: 40px 0px 40px 0px;
    }
}



/*------------------ DUDAS ------------------*/

.preguntasFrecuentes{
    .accordion{
        margin: 8%;
        font-family: $fuente-textos !important;
    
        h2{
            margin: 0 !important;
        }

        .accordion-button{
            background-color: $marron-rosaceo;
            color: $blanco-crema;

            &::after{
                box-shadow: $blanco-crema;
            }

            &:not(.collapsed)::after {
                background-color: $blanco-crema !important;
                box-shadow: $blanco-crema !important;
              }
            &::after {
                color: $blanco-crema !important;
              }
        }

    }
}




/*---------------- CONTACTO ----------------*/

.contacto{    
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 60px;

        input{
            border-radius: 5px;
            box-shadow: none;
        }

        .form-text{
            font-family: $fuente-textos !important;
        }

        .dropdownAsunto{
            z-index: -1;

            .dropdown-toggle{
                width:100%;
                margin: 0 0 10px 0 !important;
            }

            .dropdown-menu{
                z-index: 1;
                background-color: #fff;
                font-family: $fuente-textos !important;
            }
        }

        .comentario{
            margin-bottom: 10px;
            height: 100px !important;
            width: 100% !important;
            border-color: #ced4da !important;
        }

        .form-check-label{
            font-family: $fuente-textos !important;
        }

        .botones{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            .mb-3, .form-check{
                padding-left: 0 !important;
                margin-bottom: 0 !important;

                .enviar, .borrar{
                    width: 100px;
                    height: 30px;
                }
            }

            .agradecimiento{
                text-align: center;

                .texto{
                    width: 220px;
                }
            }
        }
    }    
}

