$verde-musgo: #777165;
$marron-naranjoso: #B66A46;
$marron-rosaceo: #C98A6C;
$blanco-crema: #F6E8DC;
$marron: #7B3F23;

$fuente-titulos: 'Urbanist', sans-serif;
$fuente-textos: 'Nunito', sans-serif;

$tamanio-titulo: 4rem;
$tamanio-subtitulo: 2rem;
$tamanio-texto: 18px;